html {
  scroll-behavior: smooth;
}
p {
  font-size: 13.5px !important;
  margin-bottom: 0 !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --ck-z-default: 100;
  --ck-z-modal: calc(var(--ck-z-default) + 999);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .modal {
  z-index: 9999999999 !important;
} */
.modal-body {
  padding: 30px 25px;
}

.ReactModal__Overlay {
  z-index: 999999;
}

.ReactModal__Content {
  background-color: #0000009c !important;
}

.ReactModalclose-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: white;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.ReactModal__Content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content img {
  padding: 22px;
  height: 470px;
}

@media (max-width: 768px) {
  .ReactModal__Content img {
    padding: 22px;
    height: auto;
  }
}

.reactEasyCrop_Container {
  top: -62px !important;
  border-radius: 7px;
}

.cropper-controls {
  z-index: 9999999;
  position: absolute;
  bottom: 124px;
  width: 76%;
}

.cropper-controls label {
  width: 100%;
  color: white;
}

.cropper-controls label span {
  color: white;
}

.reactEasyCrop_CropArea {
  height: 230px !important;
  width: 230px !important;
  border-radius: 100% !important;
}

.send-btn {
  background-image: linear-gradient(142.17deg, #3086ff 6.66%, #304cfd 91.48%);
  box-shadow: inset -0.25rem -0.25rem 0.3125rem rgb(0 0 0 / 10%),
    inset 0.25rem 0.25rem 0.3125rem rgb(255 255 255 / 23%);
  border-radius: 20px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  height: 3.5rem;
  padding: 0 1.5rem;
  position: relative;
  transition: 0.4s ease-in-out;
  white-space: nowrap;
}

.App {
  text-align: center;
  /* this is test new 1 2 3*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.switch {
  margin-bottom: 0px !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.flex-blog {
  /* border-bottom: 1px solid hsl(9deg 27% 90%); */
  padding-bottom: 30px;
}
.coverr {
  position: relative;
  object-fit: fill;
  object-position: center;
  height: 210px;
  width: 100%;
  background: var(--themecolor);
  min-width: 140px;
  border-radius: 10px;
}
.content-div {
  height: 96px;
}
.coverr-modal {
  width: 100% !important;
  height: 200px !important;
  object-fit: contain;
  /* padding: 10px; */
}
.flex-blog {
  margin-top: 0 !important;
}
.insights-order-1 {
  order: 1;
}
.insights-order-2 {
  order: 2;
}
.notification-message-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.notification-form-div textarea {
  width: 50%;
}
.product-price-toltip {
  background: var(--color);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-price-toltip svg {
  font-size: 11px !important;
}

@media (max-width: 720px) {
  .notification-message-div {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }
  .notification-form-div textarea {
    width: 100%;
  }
  .insights-order-1 {
    order: 2;
  }
  .insights-order-2 {
    order: 1;
  }
  .insights-main-div {
    margin-top: 10px;
  }
  .coverr {
    width: 100%;
    height: 180px;
  }
  .content-div {
    width: 100%;
  }
  .content-div h2 {
    width: 100%;
    font-size: 13px !important;
    margin: 0;
  }
  .content-div p {
    width: 100%;
    /* font-size: 11px !important; */
    margin: 0;
    margin-top: 5px;
    line-height: 1;
  }
  .right-icon {
    font-size: 20px;
    cursor: pointer;
    margin-top: 40px;
  }
  .news-grid {
    padding: 0 !important;
    /* padding-right: 20px !important; */
  }
}

.content-div h2 {
  width: 100%;
  font-size: 14px !important;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}
.content-div p {
  width: 100%;
  font-size: 13px;
  margin: 0;
  margin-top: 5px;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  margin-top: 3px;
}
.news-grid {
  padding: 0 20px;
}
.right-icon {
  font-size: 15px;
  cursor: pointer;
  color: black;
}
.blog-readmore {
  height: 15px;
  width: 15px;
  padding: 5px;
  background: var(--color);
  border-radius: 100px;
  color: white;
  font-size: 15px;
}
.slider-padding {
  padding-bottom: 0 !important;
}

.swiper-pagination-2 {
  text-align: center;
}
.review-items {
  padding: 0px !important;
}
.boxes {
  border-radius: 0px !important;
  background-color: #fff !important;
  box-shadow: 0px 20px 40px rgb(103 118 128 / 3%) !important;
  padding: 1.875rem !important;
  position: relative !important;
  transition: box-shadow 0.3s ease-in-out !important;
}
.swiper-horizontal {
  padding-bottom: 30px !important;
}
#work {
  scroll-behavior: smooth;
}
.work-para {
  margin: 0;
  font-size: 15px;
  padding: 0 2px;
  font-weight: 600;
  color: black;
}
.vedio-flex {
  display: flex;
}
.video-width {
  width: 50%;
}
@media (max-width: 768px) {
  .video-width {
    width: 100%;
    margin-bottom: 10px;
  }
  .vedio-flex {
    display: block;
  }
  .work-para {
    font-size: 11px !important;
  }
  /*.title__separate{
    font-size: 22px !important;
  }*/
}

.image-card {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}

#lightbox-img {
  height: 80vh;
  max-width: 90vw;
  object-fit: cover;
}

#lightbox {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999999999;
  overflow-y: auto;
}

.image-popup img {
  max-width: 100%;
  max-height: 90vh;
  /* margin-top: 2%; */
}
@media (max-width: 768px) {
  .image-popup img {
    /* margin-top: 55%; */
    padding: 0 44px;
  }
  .zoom-icon-images {
    background: var(--themecolor);
    z-index: 1;
    right: 6px;
    height: 25px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 0px 13px;
  }
  .zoom-icon-images svg {
    color: black;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  cursor: pointer;
  color: #fff;
}

.prev-button,
.next-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.prev-button,
.next-button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 10px;
}
.prev-button {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.next-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.prev-button:hover,
.next-button:hover {
  background-color: #555; /* Change background color on hover */
}

/* Add margins to separate buttons */
.prev-button {
  margin-right: 10px;
}
.prev-button i,
.next-button i {
  margin-right: 5px; /* Add some spacing between the icon and text */
}
.zoom-icon-images {
  background: var(--themecolor);
  z-index: 1;
  right: 0px;
  height: 25px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 0px 13px;
}
.zoom-icon-images svg {
  color: black;
}
.footer-div {
  background: var(--color);
  /* height: 300px; */
  padding: 20px 167px;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 0;
}
.footer-div h3 {
  color: white;
}
.footer-btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  padding: 5px 11px;
  width: auto;
  border-radius: 30px;
}
.footer-copyright {
  /* margin-top: 100px !important; */
}
.footer-para {
  padding: 0 235px;
}
@media (max-width: 900px) {
  .footer-para {
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .footer-para {
    padding: 0px;
  }
  .footer-copyright {
    margin-top: 30px !important;
  }
  .footer-btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    padding: 5px 11px;
    border-radius: 30px;
  }
  .footer-div {
    background: var(--color);
    /* height: 300px; */
    padding: 20px 43px;
    color: white;
    margin-bottom: 56px;
  }
}
.footer-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  transition: all 1s;
}

.fotter-slider.fotter-close {
  top: 100%;
  height: 0;
}
.footer-btn:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
.mySwiper {
  overflow: hidden;
}
input:focus-visible {
  outline: none !important;
}
.VarColor {
  color: var(--color);
}
.date-time-input {
  width: 100% !important;
  height: 53px;
  background: #f7f9fa;
  border: none;
  padding: 0 11px;
}
input.date-time-input::-webkit-date-and-time-value {
  text-align: left;
  color: #000;
  padding-left: 5px;
}
.chat-modal-btn {
  border: none;
  background: none;
  color: red;
  font-size: 36px;
  position: absolute;
  top: 10px;
  right: 8px;
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-api-p {
  white-space: pre-line;
}
.iframe-class iframe {
  height: 100vh;
}
.iframe-class iframe {
  position: relative !important;
}
.main-loader {
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 99999999999;
  background: white;
}

.react-tel-input .form-control {
  height: auto !important;
  width: 100% !important;
}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: #f5f5f5;
  border: 0 !important;
  border-right: 1px solid #f5f5f5 !important;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef !important;
  opacity: 1;
}

@media (max-width: 767px) {
  #about_us {
    margin-top: 0;
  }
  .responsive-row-signature {
    gap: 15px;
  }
  .iframe-class iframe {
    height: 40vh;
    min-width: 226px !important;
  }
}
@media (max-width: 2560px) and (min-width: 1778px) {
  .iframe-class iframe {
    height: 65vh;
    min-width: 226px !important;
  }
}
@media (max-width: 1000px) and (min-width: 768px) {
  .iframe-class iframe {
    height: 65vh;
    min-width: 226px !important;
  }
}
@media (max-width: 1240px) and (min-width: 900px) {
  .iframe-class iframe {
    height: 50vh;
    min-width: 226px !important;
  }
}
@media (max-width: 400px) and (min-width: 300px) {
  .iframe-class iframe {
    height: 55vh;
    min-width: 226px !important;
  }
}
.qr-div svg {
  width: 125px !important;
  height: 125px !important;
}

.realestaterow {
  /* border: 1px solid #dddcdc; */
  border-radius: 10px;
  padding: 12px 0;
}
.realEstateImage {
  /* width: 240px; */
  height: 190px;
  border-radius: 10px;
  width: 100%;
}
.color-black {
  color: #000 !important;
}
.real-map-btn {
  background-color: transparent;
  border: 1px solid #dfdcdc;
  border-radius: 5px;
  padding: 3px 10px;
  color: var(--color);
}
.real-tour-btn {
  background-color: var(--color);
  border: 1px solid var(--color);
  border-radius: 5px;
  padding: 3px 10px;
  color: white;
  /* margin-left: 10px; */
}
@media (max-width: 768px) {
  .verify-div-sm {
    margin-top: 10px;
  }
}
/* .google-insights-div {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
}
.google-insights-inner-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.google-insights-inner-div div {
  background: var(--color);
  color: white;
  font-weight: bold;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}
.google-insights-inner-div p {
  margin-top: 10px !important;
  color: black;
  font-size: 15px !important;
} */
.address-book-add-contact-div {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
}
.address-book-add-contact-div .groups-div {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 20px;
}
.address-book-add-contact-div div:hover {
  /* background-color: var(--themecolor); */
}
.address-book-add-contact-div div:last-child {
  border: none;
}
.add-contact-btn {
  background-color: var(--color);
  width: 30px;
  height: 30px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.address-book-svg svg {
  font-size: 22px;
}
.filter-btns {
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 19px;
  font-weight: 600;
  border-radius: 100px;
  width: max-content;
}
.filter-active {
  border: 1px solid transparent;
}
.filter-btns-active {
  background-color: var(--color);
  color: white;
  border: 1px solid transparent;
  padding: 6px 19px;
  font-weight: 600;
  border-radius: 100px;
  width: max-content;
}
.filter-btns:hover {
  background-color: var(--color);
  color: white;
  transition: 0.3s;
  border: 1px solid transparent;
}
.filter-btns:focus {
  /* background: var(--color);
  color: white;
  transition: 0.3s; */
  /* border: 1px solid transparent; */
}
.filter-btn-x-mark {
  /* display: none; */
  position: absolute;
  right: 0;
  color: var(--color);
}
/* .filter-btns:focus + .filter-btn-x-mark {
  display: block;
} */
.dropdown-menu::before {
  content: none !important;
}

.search-box {
  /* padding: 10px; */
}

.search-box:hover > .search-text {
  width: 240px;
  padding: 0 6px;
  color: #000;
}

.search-box:hover > .search-btn {
  background: white;
  color: black;
}

.search-btn {
  color: black;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}
.search-btn > i {
  font-size: 30px;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 14px;
  font-weight: normal;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;
  margin-top: -9px;
  border-bottom: 1px solid var(--color);
  font-size: 14px;
}
.virtal-bg-main-image {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;
  border-radius: 10px;
}
.virtual-images {
  width: 215px;
  height: 205px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;
  cursor: pointer;
  border-radius: 10px;
}
.history-user-list {
  line-height: 2.5;
}
.history-user-list p {
  border-bottom: 1px solid #ccc;
  font-size: 16px !important;
}
.history-user-list p:last-child {
  border: 0;
}
.rdt_TableHeadRow {
  background-color: hsl(0deg 0% 95.69%) !important;
  color: black !important;
  font-weight: bold !important;
  font-size: 13.5px !important;
  min-height: 42px !important;
}
.rdt_TableRow {
  font-size: 13.5px !important;
  border: 0 !important;
  border-bottom: 1px solid #ccc !important;
}
.rdt_TableRow:nth-child(odd) {
  background-color: white !important;
}
.rdt_TableRow:nth-child(odd):hover {
  background-color: #eeeeee !important;
}
.sc-dmlpXa::-webkit-scrollbar {
  width: 10px;
}
.box-shadow-leads header {
  padding-left: 0px !important;
}
.box-shadow-leads {
  overflow-x: auto;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
.bg-custom {
  background-color: #f8fafc !important;
}

.sc-dmlpXa::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
}

.sc-dmlpXa::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
  background: #ccc;
}
.rdt_TableRow:hover {
  background-color: var(--themecolor) !important;
}
.signature-img {
  width: 100% !important;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .vb-div {
    justify-content: center;
  }
  .virtual-images {
    width: 130px;
    height: 130px;
  }
}
.swiper-button-next,
.swiper-button-prev {
  width: 20px !important;
  height: 22px !important;
  background: var(--color);
  border-radius: 100px;
  color: var(--themecolor) !important;
  margin-top: -25px !important;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
  font-size: 12px !important;
  font-weight: bold;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  font-size: 12px !important;
  font-weight: bold;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next,
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: none !important;
}
.swiper-button-next {
  left: auto;
  right: 0px !important;
}
.swiper-button-prev {
  right: auto;
  left: 0px !important;
}
.mobile-search {
  display: none;
}
@media (max-width: 768px) {
  .web-search {
    display: none;
  }
  .mobile-search {
    display: block !important;
  }
  .mobile-search-icon {
    position: absolute;
    right: 20px;
    top: 14px;
    bottom: 0;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 16px !important;
    font-weight: bold;
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: "next";
    font-size: 16px !important;
    font-weight: bold;
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 0px !important;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 0px !important;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    font-size: 10px !important;
    height: 20px !important;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    font-size: 10px !important;
    height: 20px !important;
  }
}
.share-modal-url-btn {
  position: absolute;
  right: 12px;
  background: var(--color);
  border: none;
  color: white;
  border-radius: 4px;
  padding: 5px 15px;
}
.real-estate-badge {
  border: 1px solid var(--color);
  background: var(--color);
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 11px;
  margin-left: 10px;
}
.object-fit-cover {
  object-fit: cover !important;
}
.realestate-active {
  color: black;
  /* border-bottom: 1px solid; */
}
.bg-varcolor {
  background-color: var(--color);
  color: white;
}
.bgVarColor {
  background-color: var(--color);
}
.group-listing-section div {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}
.group-listing-section div:last-child {
  border: none;
}
.react-datepicker-popper[data-placement^="bottom"] {
  z-index: 9999999999;
}
.accordion-button:focus {
  z-index: 3;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  background-color: var(--color) !important;
  color: white !important;
}

/* dashboard css */
.dashboard-header {
  background-color: var(--color);
  height: 200px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 1px 11px 15px 0 rgb(99 99 99 / 32%);
  padding: 0 125px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.dashboard-content-dev {
  margin-top: 150px;
  background-color: white;
  margin: 150px 100px 0 100px;
  /* height: 100vh; */
  /* position: absolute;
  top: -61px;
  right: 100px;
  left: 100px;
  bottom: 0; */
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 0 5px 12px 0 rgb(99 99 99 / 48%);
}
.dashboard-image2 {
  width: 80px;
  height: 80px;
  box-shadow: 0 5px 12px 0 rgb(99 99 99 / 48%);
  border-radius: 100px;
}
.dashboard-heading-h1 {
  font-size: 23px !important;
  color: white;
}
.dashboard-heading-h6 {
  color: white;
  line-height: 0.8;
}
.dashboard-row-div {
  padding: 20px 40px;
}
.dashboard-row-div2 {
  padding: 20px 225px;
}
.Dashboard-plan-div {
  background-color: var(--color);
}
.col-6-bg-image {
  background-image: url("../../public/static/img/girl.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
}
.subscription-box {
  background-color: var(--themecolor);
  margin: 0 30px;
  border-radius: 20px;
  color: black;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.dashboard-tabs {
  gap: 10px;
  margin-top: 25px;
}
.dashboard-tabs p {
  background: var(--color);
  color: white;
  font-weight: bold;
  border-radius: 50px;
  padding: 5px 10px;
  cursor: pointer;
}
.rendered-form.formbuilder-embedded-bootstrap .form-control {
  padding: 10px !important;
  -webkit-appearance: auto !important;
  -moz-appearance: auto !important;
  appearance: auto !important;
  height: 46px !important;
}
.theme-bg {
  background-color: #24b1e6 !important;
}
.user-theme-bg {
  background-color: var(--color) !important;
}
.text-20px {
  font-size: 20px !important;
}
.card-min-height {
  min-height: 190px;
}
.card-row-gap {
  row-gap: 10px;
}
.dashboard-web-margin {
  margin: 0px 240px !important;
  border-radius: 0.5rem !important;
}
.no-image-testimonia-div {
  background: var(--themecolor);
  padding: 15px;
  border-radius: 100px;
  height: 71px;
  width: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-image-testimonia-div svg {
  font-size: 24px;
}
.search-icon-products {
  position: absolute;
  right: 15px;
  top: 16px;
}
.dropdown-item-active {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  border: 0;
  background: var(--color) !important;
  color: white !important;
}
.form-input:focus,
.form-multiselect:focus,
.form-select:focus,
.form-textarea:focus {
  outline: 1px solid #dee2e6 !important;
  outline-offset: 2px;
}
.filter-section-row {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px !important;
  border-radius: 10px;
}
.dashboard-leads-col-4-div {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0;
  padding: 10px;
  border-radius: 10px;
}
.apexcharts-legend-series span {
  padding-left: 0px !important;
}
.theme-custom {
  background-color: var(--color);
}
.sc-dmlpXa {
  border-radius: 0px !important;
}
.dropdown-item:active {
  color: #000;
  text-decoration: none;
  background-color: white !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 0.025em !important;
  padding: 0.35rem 1.15rem !important;
  border-radius: 9999px !important;
  background-color: var(--color) !important;
  font-weight: 500 !important;
  color: white;
  text-align: center;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: capitalize;
  margin: 1rem 0.1rem !important;
  border: 1px solid transparent !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel {
  background: white !important;
  color: var(--color);
  font-weight: 500 !important;
  font-size: 14px;
  padding: 6px 25px;
  border-radius: 100px !important;
  border: 1px solid var(--color) !important;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  -webkit-user-select: none;
  color: #000 !important;
}
.row-gap-3 {
  row-gap: 16px !important;
}
.product-images-badge {
  position: absolute;
  right: 0px;
  top: 6px;
  background-color: var(--color) !important;
  font-size: 14px;
}
.notification-form-div {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.notification-form-div input {
  border-radius: 0px !important;
}
.category-title-input {
  width: auto;
  border: none;
  border-bottom: 1px solid #b1b1b1;
  font-size: 16px;
  border-radius: 0px;
}
.location-filter {
  padding: 7px 10px !important;
  appearance: auto !important;
  border: 0px !important;
  background-color: #f7f9fa !important;
}
.hits-details-modal {
  margin: 0px !important;
  margin-left: 10px !important;
}
input[type="time"]:before {
  /* content: "HH:mm ss"; */
  color: #9d9d9d;
  position: absolute;
  background: #f7f9fa;
  width: 70px;
}

input[type="time"]:focus:before {
  width: 0;
  content: "";
}

.rendered-form.formbuilder-embedded-bootstrap textarea.form-control {
  height: auto !important;
}
.right-1px {
  right: 1px;
}
.fs-24 {
  font-size: 24px;
}
.float-styles {
  bottom: 130px;
  background: var(--color) !important;
  font-size: 20px;
  cursor: pointer;
}
.float-styles-2 {
  bottom: 190px;
  background: white !important;
  font-size: 24px;
  cursor: pointer;
}
.trustpilot-images {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
.w-45 {
  width: 45%;
}
.w-15 {
  width: 15px;
}
.w-30 {
  width: 30px;
}
.gap-15 {
  gap: 15px;
}
.fs-18 {
  font-size: 18px;
}
.fs-16 {
  font-size: 16px;
}
.fs-20 {
  font-size: 20px;
}
.gap-10 {
  gap: 10px;
}
.w-250 {
  width: 250px;
  height: 250px;
}
.calendly-inline-widget {
  height: 101vh;
}
.gap-8 {
  gap: 8px;
}
.w-15 {
  width: 15px;
}
.fs-15 {
  font-size: 15px;
}
.transform-180 {
  transform: rotateY(180deg);
}
.margin-l {
  margin-left: 3px;
}
.margin-l-5 {
  margin-left: 3px;
}
.margin-l-7 {
  margin-left: 7px;
}
.margin-l-4 {
  margin-left: 4px;
}
.w-50px {
  width: 50px;
}
.br-100 {
  border-radius: 100%;
}
.br-10 {
  border-radius: 10px;
}
.margin-r-10 {
  margin-right: 10px;
}
.video-load-more {
  text-decoration: underline !important;
  color: var(--color) !important;
}
.h-190 {
  height: 190px;
}
.w-23px {
  width: 23px;
}
.margin-b-1 {
  margin-bottom: 1px;
}
.gap-20 {
  gap: 20px;
}
.sorting-dropdown {
  background: none !important;
  color: #000 !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 0 !important;
  font-size: 22px !important;
}
.fs-14 {
  font-size: 14px;
}
.w-40 {
  width: 40%;
}
.gap-0 {
  gap: 0px;
}
.fs-13 {
  font-size: 13px;
}
.fs-22 {
  font-size: 22px;
}
.fs-19 {
  font-size: 19px;
}
.min-width-95 {
  min-width: 95%;
}
.br-0 {
  border-radius: 0;
}
.real-estate-border {
  border-bottom: 1px solid #ece1df;
}
.header-btn-gap {
  gap: 10px !important;
}
.edit-real-estate-images {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.real-estate-edit-modal .delete-icon3 {
  top: -4px !important;
  right: -7px !important;
}
table {
  width: 100%;
}

table thead {
  background: hsl(0deg 0% 95.69%);
  color: black;
  width: 100%;
}

table th,
td {
  padding: 11px;
}

table tbody tr {
  border-bottom: 1px solid #e7e7e7;
}
table tbody tr:last-child {
  border: 0px !important;
}
.dashboard-location-select {
  position: absolute;
  top: 16px;
  right: 71px;
  z-index: 9;
}
.amenities-div svg {
  height: 16px;
  width: 20px;
  fill: var(--color);
}

.amenities-div svg .cls-1,
.cls-2,
.cls-3 {
  fill: var(--color) !important;
}

.web-real-estate-price {
  font-size: 15px !important;
}

/* .amenities-div span {
  font-size: 16px;
  background: #ccc;
  padding: 5px;
  border-radius: 25px;
} */

.amenities-delete-icon {
  position: absolute;
  right: 25px;
  z-index: 9;
  color: var(--color);
  font-size: 18px;
  cursor: pointer;
}
.leads-custom-table p {
  word-break: break-all;
}
.tab-progress-bar {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0;
}
.tab-progress-bar .progress {
  border-radius: 0;
  background: transparent;
}
.tab-progress-bar .progress .progress-bar {
  height: 5px;
  border-radius: 0px !important;
  background-color: var(--color) !important;
  background-image: none !important;
}
.text-transform-none {
  text-transform: none !important;
}
.main-popipro-class {
  min-height: calc(-207px + 100vh);
}

.amenities-main-section {
  gap: 10px;
  line-height: 0;
  background: var(--themecolor);
  padding: 12px;
  width: 100%;
  padding-right: 50px;
}

.mobile-real-estate-price {
  display: none;
}
.real-estate-price {
  font-size: 18px !important;
}

.text-decoration-underline {
  text-decoration: underline;
}

.Spinn-loader {
  width: 30px;
  height: 30px;
  border: 5px solid var(--themecolor);
  border-bottom-color: var(--color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.contact-btn:disabled {
  cursor: default !important;
}

.spinner-fa {
  margin-right: 8px;
  animation: spin 2s linear infinite;
}

.real-estate-modal-buttons {
  padding: 0 70px;
}

[data-rbd-droppable-id="droppable"] {
  background: transparent !important;
}

.dragable-cards {
  background-color: var(--color) !important;
  color: white !important;
  font-weight: bold;
  border: none !important;
  border-radius: 0.25rem !important;
}

.draggable-item {
  width: 10px !important;
}

.w-30px {
  width: 48% !important;
}

.edit-dropdown .dropdown button {
  background: none !important;
  box-shadow: none !important;
  color: black;
  padding: 0;
  height: auto !important;
}

.edit-dropdown .dropdown button::after {
  content: none !important;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: black !important;
}

.web-edit-icons {
  display: block;
}

.mobile-edit-icons {
  display: none;
}

.CheckTitle {
  font-size: 21px;
}

.cart-section {
  row-gap: 10px;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
}

.cart-length {
  position: absolute;
  top: -5px;
  background: var(--color);
  border-radius: 100%;
  width: 15px;
  height: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 14px;
  font-size: 12px;
  font-weight: bold;
}

.services-swiper-slider {
  padding: 0 16px 16px 16px !important;
}

.amenities-select-div label {
  background: var(--themecolor);
  border-radius: 10px;
  color: var(--color);
  gap: 3px;
  cursor: pointer;
  width: 85px;
  height: 71px;
}

.amenities-select-div input {
  display: none !important;
}

.amenities-select-div input:checked + label {
  background: var(--color);
  border-radius: 10px;
  color: var(--themecolor);
  gap: 3px;
  cursor: pointer;
  width: 85px;
  height: 71px;
}

#p_wrap h2,
.content_description h2 {
  font-size: 25px !important;
  color: #000;
}
#p_wrap h3,
#p_wrap h4,
.content_description h3,
.content_description h4 {
  font-size: 23px !important;
  color: #000;
}

#p_wrap ul,
.content_description ul,
#p_wrap ol,
.content_description ol {
  padding-left: 15px;
}

.dropdown-toggle-split::after {
  content: none !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.subscription-section {
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 500px;
}

.subscription-section p {
  font-size: 13px !important;
  color: #000 !important;
}

.subscription-section .divider {
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}

.video-loader video::-webkit-media-controls {
  display: none !important;
}

.video-loader video::-webkit-media-controls-enclosure {
  display: none !important;
}

.video-loader video::-webkit-media-controls-panel {
  display: none !important;
}

.video-loader video::-webkit-media-controls-play-button {
  display: none !important;
}

.video-loader video::-webkit-media-controls-volume-slider-container {
  display: none !important;
}

.save-contact-drawer {
  position: relative;
  padding: 30px 10px !important;
}

.save-contact-drawer .close-svg {
  position: absolute;
  right: 25px;
  font-size: 16px;
  cursor: pointer;
  top: 13px;
}

.MuiDrawer-paper {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.mobile-contact-btn {
  display: none !important;
}

.share-profile-drawer .image-section img {
  height: 72px;
  width: 72px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.floating-paper-plane {
  position: absolute;
  width: 36px;
  background: #ffffff;
  height: 36px;
  border-radius: 50%;
  display: flex;
  filter: drop-shadow(0px 2.76923px 8.30769px rgba(22, 29, 37, 0.1));
  align-items: center;
  justify-content: center;
  left: 54px;
  top: 48px;
}
.floating-paper-plane svg {
  color: var(--color);
  font-size: 0.75em;
  width: 15px;
  height: 15px;
  transform: rotate(12deg);
}

@media (max-width: 1045px) and (min-width: 772px) {
  .responsiveTable td.pivoted {
    padding: 5px;
  }
  .dashboard-web-margin {
    margin: 0px 0px !important;
    padding: 2rem !important;
  }
  .dashboard-padding {
    padding: 0px 10px !important;
  }
  .dashboard-web-margin-image {
    object-fit: scale-down;
  }
  .h-40 {
    height: 7rem !important;
  }
}
@media (max-width: 1200px) and (min-width: 300px) {
  .responsiveTable td.pivoted {
    padding: 5px;
  }
  .hits-details-modal {
    margin: 0px 18px !important;
  }
  .dashboard-web-margin-image {
    object-fit: scale-down;
  }
  .h-40 {
    height: 7rem !important;
  }
}
@media (max-width: 768px) {
  .mobile-contact-btn {
    display: block !important;
  }
  .web-contact-btn {
    display: none !important;
  }
  .subscription-section {
    width: 100%;
    margin-right: 10px;
  }
  .services-swiper-slider {
    padding: 0 !important;
  }
  #card_description {
    margin-top: 0;
  }
  .wrapper .tooltip {
    left: auto !important;
    right: -18px !important;
  }
  .web-edit-icons {
    display: none !important;
  }

  .mobile-edit-icons {
    display: block;
  }

  .real-estate-modal-buttons {
    padding: 0;
  }
  .web-real-estate-price {
    display: none;
  }
  .mobile-real-estate-price {
    display: block;
    font-size: 15px !important;
  }
  .main-popipro-class {
    /* min-height: auto; */
  }
  .header-nav-length {
    padding-left: revert !important;
  }
  .responsiveTable td.pivoted {
    padding: 5px;
  }
  .dashboard-web-margin {
    margin: 0px 0px !important;
    padding: 2rem !important;
  }
  .dashboard-row-div2 {
    padding: 20px 40px;
    padding-top: 0px;
  }
  .dashboard-header {
    background-color: var(--color);
    height: 200px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 1px 11px 15px 0 rgb(99 99 99 / 32%);
    padding: 0 40px;
  }
  .dashboard-content-dev {
    background-color: white;
    margin: 150px 20px 0 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0 5px 12px 0 rgb(99 99 99 / 48%);
  }
  .subscription-box {
    background-color: var(--themecolor);
    margin: 0 30px;
    border-radius: 10px;
    color: black;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .col-6-bg-image {
    background-image: url("../../public/static/img/girl.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
  }
}
@media screen and (max-width: 40em) {
  .responsiveTable tbody tr {
    border: 0px !important;
    padding: 0.25em;
    margin-bottom: 10px !important;
    padding-bottom: 20px !important;
    border-bottom: 1px solid #dddcdc !important;
  }
}
